# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/
releases/

# Minecraft
server/

# Eclipse
.project
.settings/
.classpath
bin/

#NMS Version directory excludes
Spigot_1_16_R2/bin/
